@model List<Covid_Root>

<p class="display-1 text-center">COVID DATA TOTALS BY COUNTRY</p>

@foreach (var item in Model)
{
    <div class="display-6">
        <span>@item.rank</span> <span>@item.Country</span>
    </div>
    
    <hr />   

    <h1>Continent: @item.Continent</h1>
    <h1>Population: @item.Population</h1>
    <h1>Deaths/Million: @item.Deaths_1M_pop</h1>
    <br />
    <br />
    <br />
}
